{
    "openapi": "3.0.2",
    "info": {
        "title": "Morpheus API Gateway",
        "description": "API Gateway connecting Web2 clients to the Morpheus-Lumerin AI Marketplace",
        "version": "v1.1.1-test"
    },
    "servers": [
        {
          "url": "https://api.mor.org"
        }
    ],
    "paths": {
        "/api/v1/auth/private-key": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get Private Key Status",
                "description": "Check if a user has a private key registered.\nDoes not return the actual key, only status information.",
                "operationId": "get_private_key_status_api_v1_auth_private_key_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrivateKeyStatus"
                                }
                            }
                        }
                    }
                },
                "security": [{
                        "BearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Store Private Key",
                "description": "Store an encrypted blockchain private key for the authenticated user.\nReplaces any existing key.",
                "operationId": "store_private_key_api_v1_auth_private_key_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrivateKeyCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": true,
                                    "type": "object",
                                    "title": "Response Store Private Key Api V1 Auth Private Key Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [{
                        "BearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Auth"
                ],
                "summary": "Delete Private Key",
                "description": "Delete a user's private key.",
                "operationId": "delete_private_key_api_v1_auth_private_key_delete",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": true,
                                    "type": "object",
                                    "title": "Response Delete Private Key Api V1 Auth Private Key Delete"
                                }
                            }
                        }
                    }
                },
                "security": [{
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/delegation": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Store Delegation",
                "description": "Allows an authenticated user to store a signed delegation.\nThe frontend should construct and sign the delegation using the Gator SDK.",
                "operationId": "store_delegation_api_v1_auth_delegation_post",
                "security": [{
                        "BearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DelegationCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DelegationRead"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get User Delegations",
                "description": "Retrieves the user's stored delegations.",
                "operationId": "get_user_delegations_api_v1_auth_delegation_get",
                "security": [{
                        "BearerAuth": []
                    }
                ],
                "parameters": [{
                        "name": "skip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "title": "Skip"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "title": "Limit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DelegationRead"
                                    },
                                    "title": "Response Get User Delegations Api V1 Auth Delegation Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/delegation/active": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get Active User Delegation",
                "description": "Retrieves the user's currently active delegation, if any.",
                "operationId": "get_active_user_delegation_api_v1_auth_delegation_active_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DelegationRead",
                                    "title": "Response Get Active User Delegation Api V1 Auth Delegation Active Get"
                                }
                            }
                        }
                    }
                },
                "security": [{
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/delegation/{delegation_id}": {
            "delete": {
                "tags": [
                    "Auth"
                ],
                "summary": "Delete Delegation",
                "description": "Deletes a specific delegation for the user.\nAlternatively, could just mark it inactive.",
                "operationId": "delete_delegation_api_v1_auth_delegation__delegation_id__delete",
                "security": [{
                        "BearerAuth": []
                    }
                ],
                "parameters": [{
                    "name": "delegation_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "title": "Delegation Id"
                    }
                }],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "delete": {
                "tags": [
                    "Auth"
                ],
                "summary": "Delete User Account",
                "description": "Delete the current user's account and all associated data.\n\nThis action is irreversible and will:\n1. Delete all sessions\n2. Delete all API keys\n3. Delete private key data (via cascade)\n4. Delete automation settings (via cascade)\n5. Delete delegation data (via cascade)\n6. Delete the user account\n7. Delete/deactivate the Cognito identity\n\nRequires JWT Bearer authentication.",
                "operationId": "delete_user_account_api_v1_auth_register_delete",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserDeletionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [{
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/models": {
            "get": {
                "tags": [
                    "Models"
                ],
                "summary": "List Models",
                "description": "Get a list of active models.\n\nResponse is in OpenAI API format with selected fields from the blockchain data.\nOnly returns active models with available providers.",
                "operationId": "list_models_api_v1_models_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [{
                        "APIKeyAuth": []
                    }
                ]
            }
        },
        "/api/v1/models/allmodels": {
            "get": {
                "tags": [
                    "Models"
                ],
                "summary": "List All Models",
                "description": "Get a list of all available models.\n\nResponse is in OpenAI API format with selected fields from the blockchain data.\nOnly returns non-deleted models.",
                "operationId": "list_all_models_api_v1_models_allmodels_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [{
                        "APIKeyAuth": []
                    }
                ]
            }
        },
        "/api/v1/models/ratedbids": {
            "get": {
                "tags": [
                    "Models"
                ],
                "summary": "Get Rated Bids",
                "description": "Get rated bids for a specific model.\n\nConnects to the proxy-router's /blockchain/models/{id}/bids/rated endpoint.\nNote: Use the blockchain model ID (hex) not the name.",
                "operationId": "get_rated_bids_api_v1_models_ratedbids_get",
                "parameters": [{
                    "name": "model_id",
                    "in": "query",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "description": "The blockchain ID (hex) of the model to get rated bids for, e.g. 0x1234...",
                        "title": "Model Id"
                    },
                    "description": "The blockchain ID (hex) of the model to get rated bids for, e.g. 0x1234..."
                }],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [{
                        "APIKeyAuth": []
                    }
                ]
            }
        },
        "/api/v1/chat/completions": {
            "post": {
                "tags": [
                    "Chat"
                ],
                "summary": "Create Chat Completion",
                "description": "Create a chat completion with automatic session creation if enabled.\n\nSupports both streaming and non-streaming responses based on the 'stream' parameter.\nTool calling is supported but may work better with streaming enabled.",
                "operationId": "create_chat_completion_api_v1_chat_completions_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChatCompletionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [{
                        "APIKeyAuth": []
                    }
                ]
            }
        },
        "/api/v1/embeddings": {
            "post": {
                "tags": [
                    "Embeddings"
                ],
                "summary": "Create Embeddings",
                "description": "Create embeddings for the given input text(s).\n\nThis endpoint creates embeddings using the Morpheus Network providers.\nIt automatically manages sessions and routes requests to the appropriate embedding model.",
                "operationId": "create_embeddings_api_v1_embeddings_post",
                "requestBody": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/EmbeddingRequest"
                        },
                        "examples": {
                            "single_string": {
                                "summary": "Single text input",
                                "value": {
                                    "input": "The quick brown fox jumps over the lazy dog",
                                    "model": "text-embedding-bge-m3",
                                    "encoding_format": "float"
                                }
                            },
                            "array_input": {
                                "summary": "Multiple text inputs",
                                "value": {
                                    "input": ["First text", "Second text", "Third text"],
                                    "model": "text-embedding-bge-m3",
                                    "encoding_format": "float"
                                }
                            }
                        }
                    },
                    "required": true
                }
            },
            "responses": {
                "200": {
                    "description": "Successful Response",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EmbeddingResponse"
                            },
                            "example": {
                                "object": "list",
                                "data": [
                                    {
                                        "object": "embedding",
                                        "embedding": [-0.006929, -0.005336, 0.024047, 0.023847, -0.012345, 0.067890, -0.034567],
                                        "index": 0
                                    }
                                ],
                                "model": "text-embedding-bge-m3",
                                "usage": {
                                    "prompt_tokens": 8,
                                    "total_tokens": 8
                                }
                            }
                        }
                    }
                },
                "422": {
                    "description": "Validation Error",
                    "content": {
                        "application/json": {
                        "schema": {
                                "$ref": "#/components/schemas/HTTPValidationError"
                            }
                        }
                    }
                }
            },
            "security": [
                    {
                        "APIKeyAuth": []
                    }
                ]
            }
        },
        "/api/v1/audio/speech": {
            "post": {
                "tags": [
                    "Audio"
                ],
                "summary": "Create Audio Speech",
                "description": "Generate audio speech from text.\n\nThis endpoint converts text to speech using the Morpheus Network providers.\nIt automatically manages sessions and routes requests to the appropriate TTS model.\n\nReturns binary audio data in the specified format.\n\n**Note:** Swagger UI may not be able to play the audio directly. \nTo test, click \"Download\" and play the file in your media player, \nor use curl to save the audio file.",
                "operationId": "create_audio_speech_api_v1_audio_speech_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudioSpeechRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Binary audio file",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "audio/mpeg": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "audio/opus": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "audio/aac": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "audio/flac": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "audio/wav": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "audio/pcm": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyAuth": []
                    }
                ]
            }
        },
        "/": {
            "get": {
                "summary": "Root",
                "description": "Root endpoint returning basic API information.",
                "operationId": "root__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "summary": "Health Check",
                "description": "Health check endpoint with container diagnostics for deployment monitoring.\n\nReturns system health, uptime, and unique container identifier for support and log analysis.\nNote: No sensitive AWS or hostname information is exposed.",
                "operationId": "health_check_health_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/health/models": {
            "get": {
                "summary": "Model Health Check",
                "description": "Detailed model service health check for monitoring and debugging.\n\nReturns comprehensive information about the model fetching service,\ncache status, and available models for operational monitoring.",
                "operationId": "model_health_check_health_models_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [{
                        "APIKeyAuth": []
                    }
                ]
            }
        },
        "/cors-check": {
            "get": {
                "summary": "Cors Check",
                "description": "CORS configuration test endpoint for ALB lb_cookie stickiness verification.\n\nThis endpoint helps verify that CORS is properly configured for cross-origin\nrequests with credentials, which is required for AWS ALB sticky sessions.\n\nReturns CORS configuration details and request information for debugging.",
                "operationId": "cors_check_cors_check_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [{
                        "APIKeyAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "APIKeyCreate": {
                "properties": {
                    "name": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    }
                },
                "type": "object",
                "title": "APIKeyCreate",
                "description": "Schema for API key creation request."
            },
            "APIKeyDB": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "key_prefix": {
                        "type": "string",
                        "title": "Key Prefix"
                    },
                    "name": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "is_active": {
                        "type": "boolean",
                        "title": "Is Active"
                    },
                    "is_default": {
                        "type": "boolean",
                        "title": "Is Default",
                        "default": false
                    },
                    "encrypted_key": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Encrypted Key"
                    },
                    "encryption_version": {
                        "type": "integer",
                        "title": "Encryption Version",
                        "default": 1
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "key_prefix",
                    "created_at",
                    "is_active"
                ],
                "title": "APIKeyDB",
                "description": "Schema for API key in database response."
            },
            "APIKeyResponse": {
                "properties": {
                    "key": {
                        "type": "string",
                        "title": "Key"
                    },
                    "key_prefix": {
                        "type": "string",
                        "title": "Key Prefix"
                    },
                    "name": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    }
                },
                "type": "object",
                "required": [
                    "key",
                    "key_prefix"
                ],
                "title": "APIKeyResponse",
                "description": "Schema for API key response."
            },
            "AutomationSettings": {
                "properties": {
                    "is_enabled": {
                        "anyOf": [{
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Is Enabled",
                        "default": true
                    },
                    "session_duration": {
                        "anyOf": [{
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Session Duration",
                        "default": 3600
                    },
                    "user_id": {
                        "type": "integer",
                        "title": "User Id"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Updated At"
                    }
                },
                "type": "object",
                "required": [
                    "user_id",
                    "created_at",
                    "updated_at"
                ],
                "title": "AutomationSettings",
                "example": {
                    "is_enabled": true,
                    "session_duration": 3600
                }
            },
            "AutomationSettingsBase": {
                "properties": {
                    "is_enabled": {
                        "anyOf": [{
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Is Enabled",
                        "default": true
                    },
                    "session_duration": {
                        "anyOf": [{
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Session Duration",
                        "default": 3600
                    }
                },
                "type": "object",
                "title": "AutomationSettingsBase",
                "example": {
                    "is_enabled": true,
                    "session_duration": 3600
                }
            },
            "ChatCompletionRequest": {
                "properties": {
                    "model": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Model"
                    },
                    "messages": {
                        "items": {
                            "$ref": "#/components/schemas/ChatMessage"
                        },
                        "type": "array",
                        "title": "Messages"
                    },
                    "temperature": {
                        "anyOf": [{
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Temperature",
                        "default": 1
                    },
                    "top_p": {
                        "anyOf": [{
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Top P",
                        "default": 1
                    },
                    "n": {
                        "anyOf": [{
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "N",
                        "default": 1
                    },
                    "stream": {
                        "anyOf": [{
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Stream",
                        "default": false
                    },
                    "stop": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Stop"
                    },
                    "max_tokens": {
                        "anyOf": [{
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Max Tokens"
                    },
                    "presence_penalty": {
                        "anyOf": [{
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Presence Penalty",
                        "default": 0
                    },
                    "frequency_penalty": {
                        "anyOf": [{
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Frequency Penalty",
                        "default": 0
                    },
                    "tools": {
                        "anyOf": [{
                                "items": {
                                    "$ref": "#/components/schemas/Tool"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tools"
                    },
                    "tool_choice": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/ToolChoice"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tool Choice"
                    },
                    "session_id": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Session Id",
                        "description": "Optional session ID to use for this request. If not provided, the system will use the session associated with the API key."
                    }
                },
                "type": "object",
                "required": [
                    "messages"
                ],
                "title": "ChatCompletionRequest",
                "description": "Request payload for chat completions.\n\nNote: Field defaults and names must remain unchanged for API parity."
            },
            "ChatCreate": {
                "properties": {
                    "title": {
                        "type": "string",
                        "maxLength": 200,
                        "title": "Title",
                        "description": "Chat title"
                    }
                },
                "type": "object",
                "required": [
                    "title"
                ],
                "title": "ChatCreate"
            },
            "ChatDetailResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id"
                    },
                    "title": {
                        "type": "string",
                        "title": "Title"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Updated At"
                    },
                    "messages": {
                        "items": {
                            "$ref": "#/components/schemas/MessageResponse"
                        },
                        "type": "array",
                        "title": "Messages",
                        "default": []
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "title",
                    "created_at",
                    "updated_at"
                ],
                "title": "ChatDetailResponse"
            },
            "ChatMessage": {
                "properties": {
                    "role": {
                        "type": "string",
                        "title": "Role"
                    },
                    "content": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Content"
                    },
                    "name": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    },
                    "tool_calls": {
                        "anyOf": [{
                                "items": {
                                    "additionalProperties": true,
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tool Calls"
                    },
                    "tool_call_id": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tool Call Id"
                    }
                },
                "type": "object",
                "required": [
                    "role"
                ],
                "title": "ChatMessage",
                "description": "Represents a single chat message in the OpenAI-compatible schema."
            },
            "ChatResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id"
                    },
                    "title": {
                        "type": "string",
                        "title": "Title"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Updated At"
                    },
                    "message_count": {
                        "anyOf": [{
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Message Count"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "title",
                    "created_at",
                    "updated_at"
                ],
                "title": "ChatResponse"
            },
            "ChatUpdate": {
                "properties": {
                    "title": {
                        "type": "string",
                        "maxLength": 200,
                        "title": "Title",
                        "description": "Updated chat title"
                    }
                },
                "type": "object",
                "required": [
                    "title"
                ],
                "title": "ChatUpdate"
            },
            "DelegationCreate": {
                "properties": {
                    "delegate_address": {
                        "type": "string",
                        "title": "Delegate Address"
                    },
                    "signed_delegation_data": {
                        "type": "string",
                        "title": "Signed Delegation Data"
                    },
                    "expiry": {
                        "anyOf": [{
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Expiry"
                    },
                    "is_active": {
                        "type": "boolean",
                        "title": "Is Active",
                        "default": true
                    }
                },
                "type": "object",
                "required": [
                    "delegate_address",
                    "signed_delegation_data"
                ],
                "title": "DelegationCreate"
            },
            "DelegationRead": {
                "properties": {
                    "delegate_address": {
                        "type": "string",
                        "title": "Delegate Address"
                    },
                    "signed_delegation_data": {
                        "type": "string",
                        "title": "Signed Delegation Data"
                    },
                    "expiry": {
                        "anyOf": [{
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Expiry"
                    },
                    "is_active": {
                        "type": "boolean",
                        "title": "Is Active",
                        "default": true
                    },
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "user_id": {
                        "type": "integer",
                        "title": "User Id"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    }
                },
                "type": "object",
                "required": [
                    "delegate_address",
                    "signed_delegation_data",
                    "id",
                    "user_id",
                    "created_at"
                ],
                "title": "DelegationRead"
            },
            "EmbeddingObject": {
                "properties": {
                    "object": {
                        "type": "string",
                        "title": "Object",
                        "default": "embedding"
                    },
                    "embedding": {
                        "items": {
                            "type": "number"
                        },
                        "type": "array",
                        "title": "Embedding"
                    },
                    "index": {
                        "type": "integer",
                        "title": "Index"
                    }
                },
                "type": "object",
                "required": [
                    "embedding",
                    "index"
                ],
                "title": "EmbeddingObject",
                "description": "Individual embedding object"
            },
            "EmbeddingRequest": {
                "properties": {
                    "input": {
                        "type": "string",
                        "title": "Input",
                        "description": "Input text to generate embeddings for. Can be a single string or an array of strings (e.g., \"text\" or [\"text1\", \"text2\"]).",
                        "example": "The quick brown fox jumps over the lazy dog",
                        "default": "Sample text to generate embeddings"
                    },
                    "model": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Model"
                    },
                    "encoding_format": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Encoding Format",
                        "default": "float"
                    },
                    "user": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "User"
                    },
                    "session_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Session Id"
                    }
                },
                "type": "object",
                "required": [
                    "input"
                ],
                "title": "EmbeddingRequest",
                "description": "Request model for embeddings endpoint"
            },
            "EmbeddingResponse": {
                "properties": {
                    "object": {
                        "type": "string",
                        "title": "Object",
                        "default": "list"
                    },
                    "data": {
                        "items": {
                            "$ref": "#/components/schemas/EmbeddingObject"
                        },
                        "type": "array",
                        "title": "Data"
                    },
                    "model": {
                        "type": "string",
                        "title": "Model"
                    },
                    "usage": {
                        "$ref": "#/components/schemas/EmbeddingUsage"
                    }
                },
                "type": "object",
                "required": [
                    "data",
                    "model",
                    "usage"
                ],
                "title": "EmbeddingResponse",
                "description": "Response model for embeddings endpoint"
            },
            "EmbeddingUsage": {
                "properties": {
                    "prompt_tokens": {
                        "type": "integer",
                        "title": "Prompt Tokens"
                    },
                    "total_tokens": {
                        "type": "integer",
                        "title": "Total Tokens"
                    }
                },
                "type": "object",
                "required": [
                    "prompt_tokens",
                    "total_tokens"
                ],
                "title": "EmbeddingUsage",
                "description": "Usage statistics for embedding request"
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "MessageCreate": {
                "properties": {
                    "role": {
                        "type": "string",
                        "title": "Role",
                        "description": "Message role: 'user' or 'assistant'"
                    },
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Message content"
                    },
                    "tokens": {
                        "anyOf": [{
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tokens",
                        "description": "Token count for billing"
                    }
                },
                "type": "object",
                "required": [
                    "role",
                    "content"
                ],
                "title": "MessageCreate"
            },
            "MessageResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id"
                    },
                    "role": {
                        "type": "string",
                        "title": "Role"
                    },
                    "content": {
                        "type": "string",
                        "title": "Content"
                    },
                    "sequence": {
                        "type": "integer",
                        "title": "Sequence"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "tokens": {
                        "anyOf": [{
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tokens"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "role",
                    "content",
                    "sequence",
                    "created_at"
                ],
                "title": "MessageResponse"
            },
            "PrivateKeyCreate": {
                "properties": {
                    "private_key": {
                        "type": "string",
                        "title": "Private Key",
                        "description": "User's blockchain private key"
                    }
                },
                "type": "object",
                "required": [
                    "private_key"
                ],
                "title": "PrivateKeyCreate",
                "description": "Schema for creating a private key entry"
            },
            "PrivateKeyStatus": {
                "properties": {
                    "has_key": {
                        "type": "boolean",
                        "title": "Has Key"
                    },
                    "created_at": {
                        "anyOf": [{
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created At"
                    },
                    "updated_at": {
                        "anyOf": [{
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Updated At"
                    }
                },
                "type": "object",
                "required": [
                    "has_key"
                ],
                "title": "PrivateKeyStatus",
                "description": "Schema for private key status response"
            },
            "SessionDataRequest": {
                "properties": {
                    "sessionDuration": {
                        "type": "integer",
                        "title": "Sessionduration",
                        "default": 3600
                    },
                    "directPayment": {
                        "type": "boolean",
                        "title": "Directpayment",
                        "default": false
                    },
                    "failover": {
                        "type": "boolean",
                        "title": "Failover",
                        "default": false
                    }
                },
                "type": "object",
                "title": "SessionDataRequest"
            },
            "Tool": {
                "properties": {
                    "type": {
                        "type": "string",
                        "title": "Type",
                        "default": "function"
                    },
                    "function": {
                        "$ref": "#/components/schemas/ToolFunction"
                    }
                },
                "type": "object",
                "required": [
                    "function"
                ],
                "title": "Tool",
                "description": "Tool wrapper for function-based tools (OpenAI-compatible)."
            },
            "ToolChoice": {
                "properties": {
                    "type": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Type",
                        "default": "function"
                    },
                    "function": {
                        "anyOf": [{
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Function"
                    }
                },
                "type": "object",
                "title": "ToolChoice",
                "description": "Explicit tool selection for tool calling."
            },
            "ToolFunction": {
                "properties": {
                    "name": {
                        "type": "string",
                        "title": "Name"
                    },
                    "description": {
                        "anyOf": [{
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "parameters": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Parameters",
                        "default": {}
                    }
                },
                "type": "object",
                "required": [
                    "name"
                ],
                "title": "ToolFunction",
                "description": "Function definition for tool calling."
            },
            "UserDeletionResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "title": "Message"
                    },
                    "deleted_data": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Deleted Data"
                    },
                    "cognito_deletion": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Cognito Deletion"
                    },
                    "user_id": {
                        "type": "integer",
                        "title": "User Id"
                    },
                    "deleted_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Deleted At"
                    }
                },
                "type": "object",
                "required": [
                    "message",
                    "deleted_data",
                    "cognito_deletion",
                    "user_id",
                    "deleted_at"
                ],
                "title": "UserDeletionResponse",
                "description": "Schema for user deletion response",
                "example": {
                    "cognito_deletion": {
                        "cognito_user_id": "abc123-def456-ghi789",
                        "message": "User successfully deleted from Cognito",
                        "success": true
                    },
                    "deleted_at": "2024-01-01T12:00:00Z",
                    "deleted_data": {
                        "api_keys": 3,
                        "automation_settings": true,
                        "delegations": 0,
                        "private_key": true,
                        "sessions": 2
                    },
                    "message": "User account successfully deleted",
                    "user_id": 123
                }
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [{
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            },
            "AudioSpeechRequest": {
                "properties": {
                    "input": {
                        "type": "string",
                        "title": "Input",
                        "description": "Text to convert to speech"
                    },
                    "voice": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Voice",
                        "description": "Voice to use for speech generation",
                        "default": "af_alloy"
                    },
                    "response_format": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Response Format",
                        "description": "Audio format: mp3, opus, aac, flac, wav, pcm",
                        "default": "mp3"
                    },
                    "speed": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Speed",
                        "description": "Speech speed",
                        "default": 1
                    },
                    "session_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Session Id",
                        "description": "Session ID (auto-created if not provided)"
                    },
                    "model": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Model",
                        "description": "Model name"
                    }
                },
                "type": "object",
                "required": [
                    "input"
                ],
                "title": "AudioSpeechRequest",
                "description": "Request model for audio speech endpoint"
            },
            "Body_create_audio_transcription_api_v1_audio_transcriptions_post": {
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary",
                        "title": "File",
                        "description": "Audio file to transcribe"
                    },
                    "s3_presigned_url": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "S3 Presigned Url",
                        "description": "Pre-signed S3 URL as alternative to file upload"
                    },
                    "prompt": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Prompt",
                        "description": "Optional text to guide transcription"
                    },
                    "temperature": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Temperature",
                        "description": "Sampling temperature (0.0-1.0)"
                    },
                    "language": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Language",
                        "description": "Language code (e.g., 'en')"
                    },
                    "response_format": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Response Format",
                        "description": "Response format: json, text, srt, verbose_json, vtt"
                    },
                    "timestamp_granularities": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Timestamp Granularities",
                        "description": "Comma-separated: word, segment"
                    },
                    "output_content": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Output Content",
                        "description": "Output content type"
                    },
                    "enable_diarization": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Enable Diarization",
                        "description": "Enable speaker diarization",
                        "default": false
                    },
                    "session_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Session Id",
                        "description": "Session ID (auto-created if not provided)"
                    },
                    "model": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Model",
                        "description": "Model name"
                    }
                },
                "type": "object",
                "title": "Body_create_audio_transcription_api_v1_audio_transcriptions_post"
            }
        },
        "securitySchemes": {
            "APIKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization",
                "description": "API key authentication in format: 'Bearer sk-xxxxxx'"
            },
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "JWT Bearer token from OAuth2 login"
            },
            "OAuth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://auth.mor.org/oauth2/authorize",
                        "tokenUrl": "https://auth.mor.org/oauth2/token",
                        "scopes": {
                            "openid": "OpenID Connect authentication",
                            "email": "Access to email address",
                            "profile": "Access to profile information"
                        }
                    }
                },
                "description": "OAuth2 authentication via secure identity provider"
            }
        }
    }
}